.field-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.todo-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.book-icon {
    margin-right: 1%;
}

button {
    font-size: 135%;
    margin: 1% 0 1% 0;
    cursor: pointer;
}

input#text17 {
    margin-top: 0.5%;
    font-size: 150%;
    padding: 0.8%;
    width: 50%;
}

label#text17 {
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 165%;
}

.todo-wrapper {
    width: 75%;
}

@media screen and (min-width: 400px) and (max-width: 900px) {
    .book-icon {
        margin-right: 5%;
    }
}