.todo {
    margin-top: 1%;
}

.completed-todo {
    transition: all 0.3s ease;
    background-color: #00807F;
}

.completed-todo > .content > p {
    text-decoration: line-through;
}

.hidden {
    display: none;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    padding-right: 2%;
    font-size: 150%;
}

@media (max-width: 750px) {
    .todo { margin-top: 4%}
}