.window {
    padding-bottom: 40%;
}

.icon {
    margin-right: 5%;
    width: 20px;
    height: 20px;
}

.title-bar-text {
    display: flex;
    align-items: center;
}

@media (max-width: 750px){
    .wrapper {
        padding-bottom: 95%;
    }
}