.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin-top: 2%;
}

.enter-button {
    margin-top: 1.5%;
    font-size: 150%;
    padding: 0.5%;
    width: 10%;
} 

.pipes-gif {
    margin-top: 1%;
    width: 750px;
    height: 400px;
}

p.welcome-text {
    text-align: center;
    line-height: 150%;
    letter-spacing: 11px;
    font-size: 275%;
}

@media screen and (max-width: 900px) {
    p.welcome-text {
        font-size: 250%;
    }
}

@media screen and (max-width: 800px) {
    p.welcome-text {
        letter-spacing: 8px;
        font-size: 200%;
    }
    .pipes-gif {
        margin-top: 5%;
        width: 550px;
        height: 350px;
    }
    
}

@media screen and (max-width: 600px) {
    p.welcome-text {
        letter-spacing: 5px;
        font-size: 200%;
    }
    .pipes-gif {
        width: 450px;
        height: 300px;
    }   
}

@media screen and (max-width: 475px) {
    p.welcome-text {
        font-size: 175%;
    }
    .pipes-gif {
        width: 375px;
        height: 250px;
    }
    
}

@media screen and (max-width: 400px) {
    p.welcome-text {
        letter-spacing: 3px;
        font-size: 175%;
    }
    .pipes-gif {
        width: 325px;
        height: 250px;
    }
    
}